PORT=4000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public
FRONTEND_URL=https://tu-frontend.netlify.app
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
GOOGLE_SHEETS_ID=1AbCdEf...
GOOGLE_SHEETS_TAB=backup
